<div class="form-group">
  <div class="col-sm-10">
    <div data-bind="css: {'combobox-selected': selectedItem}" class="combobox-container">
      <fieldset data-bind="attr: {disabled: disabled}">
        <div class="input-group dropdown">
          <input data-bind="textInput: searchText, attr: {placeholder: placeholder, readonly: readOnly}" type="text" autocomplete="off" required="required"
            class="combobox form-control input-sm" data-toggle="dropdown" aria-expanded="false">
          <span class="input-group-btn" data-toggle="dropdown" >
            <button data-bind="click: selectedItem()!==null ? clearSelection : null" type="button" class="btn btn-sm btn-default btn-combobox">
              <span class="caret"></span>
              <small>
                <span class="glyphicon glyphicon-remove small"></span>
              </small>
            </button>
          </span>
          <ul data-bind="foreach: options, event: { scroll: scrolled }" class="typeahead typeahead-long dropdown-menu" style="width:100%">
            <li data-bind="click: $component.selectItem, attr: {'data-text': text, 'data-value': value, 'data-key': key}, css: {'active':isActive}" class="">
              <a href="#" class="dropdown-item">
                <span class="small" data-bind="text: text"></span>
              </a>
            </li>
          </ul>
        </div>
      </fieldset>
    </div>
  </div>
</div>

<div style="position:fixed; right:40px;">
  <p data-bind="text: searchText"></p>
  <p data-bind="text: ko.toJSON(selectedItem)"></p>
</div>
