<div style="width: 450px">
 

        <dropdown-filter id="orgfilter1"
            params="{
                onSelected: onSelected,
                placeholder: 'Select Organization...',
                serviceUrl: '', 
                datasource: ['Org0311245243311', 'Org0311245243312', 'Org0311245243313', 'Org0311245243314', 'Org0311245243315', 'Org0311245243316', 'Org0311245243317', 'Org0311245243318', 'Org0311245243319', 'Org0311245243320', 'Org0311245243321', 'Org0311245243322'], 
                allowPaging:true, 
                pageSize: 100,
                element: $element }">
        </dropdown-filter>	
        <br/><br/>

        
        <service-dropdown id="service1"
            params="{
                placeholder: 'Select Organization...',
                datasource: {
                    remote: {
                        url: 'http://localhost:3000/customorgs',
                        payload: {},
                        method: 'GET',
                        mapping: {                     
                            textField: 'name',
                            valueField: 'id'
                        },
                        pageSize: 50                     
                    }
                },
                element: $element }">
        </service-dropdown>	

        <br/><br/>      

    </div>